<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Interview</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(270deg, #0A2FB9 0%, #080357 100%);
        }
        .submit{
            position: absolute;
width: 200px;
height:100px;
right: 45%;
top:20%;
background: #03A9F4;
border-radius: 10px;

font-family: 'Arial';
font-style: normal;
font-size: 32px;
line-height: 49px;
text-align: center;

        }
        .text{
            color: #ffff;
            margin-left:3%;
            margin-top:3%;

        }
        

       
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light my-3">
        <a class="navbar-brand text-white mx-2" style="font-family: 'Iceberg'; font-size: 20px;" href="#">MockwithUs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <form class="form-inline my-2  my-lg-0" style="margin-left: 750px">

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white mx-4" style="font-family: 'Ubuntu';font-size: 20px;"
                        href="{{url_for('dashboard')}}">Home<span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-4" style="font-family: 'Ubuntu';font-size: 20px;"
                        href="{{url_for('logout')}}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <button class=submit><a href="{{ url_for('report') }}" style="color: #FFFFFF;">Generate Report </a></button>
    <p class="text"> Speech to text result:- {{ text }}</p>
    <p class="text"> Words you are not suppose to use:- {{ negative_words }}</p>
    <div class="text">
        <p>Face Emotion:</p>
        <table>
          <thead>
            <tr>
              <th>Emotion</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(0, emotions|length) %}
              <tr>
                <td>{{ emotions[i] }}</td>
                <td>{{ emotions_values[i] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>


</body>

</html>